<template>
  <form submit.delegate="executeSearch()" autocomplete="off">
    <h2 translate="home:title">Search</h2>
    <fieldset>
      <div class="row">
        <md-input id="search" translate="[md-label]home:labels.search"
            md-value.bind="query" class="col s11"></md-input>
        <a class="col s1"
            md-tooltip="position: bottom; text: The allowed characters for this field are limited to lowercase letters a to z and spaces">
          <i class="material-icons">info_outline</i>
        </a>
        <div class = "col s12">
          <p><md-checkbox md-checked.bind="checked">Advanced search</md-checkbox></p>
          <require from="./advanced-search.html" ></require>
            <advanced-search view-model.ref="advancedSearchViewModel" if.bind="checked"
              positions.bind="positions" english-levels.bind="englishLevels" locations.bind="locations"
              headquarters.bind="headquarters" headquarter-changed.call="headquarterChanged(event)" advanced-search.bind="advancedSearch">
            </advanced-search>
        </div>
      </div>
      <div class="actions">
        <button md-button click.bind="callServer($e)">
          <i class="material-icons">search</i>
        </button>
      </div>
    <fieldset>
  </form>
</template>
