<template>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header brand center red-text text-lighten-2"
            translate="app.commons.name">Brainy</h1>
        <div class="row center">
          <h5 class="header col s12 light" translate="landing:messages.slogan">
            Grow by sharing, share while learning.</h5>
        </div>
        <div class="row center">
          <a href="#home" id="start-button" click.delegate="login()"
              class="btn-large waves-effect waves-light red lighten-1"
              translate="landing:buttons.getstarted">
            Get Started</a>
        </div>
        <br><br>
      </div>
    </div>
    <div md-parallax><img src="images/cropped-Home-header.jpg"
        translate="[alt]landing:alt.home-header"></div>
  </div>

  <div class="container" id="benefits">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center" translate="landing:components.benefits.learning.title">
              Learning
            </h5>
            <p class="light" translate="landing:components.benefits.learning.description">
              Search for people who can help you.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center" translate="landing:components.benefits.growth.title">
              Growth
            </h5>
            <p class="light" translate="landing:components.benefits.growth.description">
              Get your goals through fun competition.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center" translate="landing:components.benefits.knowledge.title">
              Knowledge
            </h5>
            <p class="light" translate="landing:components.benefits.knowledge.description">
              Build a solid foundation by helping others.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light" translate="landing:messages.elevator-pitch">
            This solution is intended for the Avantican people who wants to meet each other in a professional manner. Brainy is a professional integration platform, that allows us to know our fellows' skills and share ours. Unlike other similar products, it makes visible the growth within the company.
          </h5>
        </div>
      </div>
    </div>
    <div md-parallax><img src="images/cropped-Services-header.jpg" alt=""></div>
  </div>

  <div class="container" id="aboutus">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h4 translate="landing:sections.about-us.title">About Us</h4>
          <p class="center light" translate="landing:sections.about-us.description">
            This product was developed by the Xinef team, passionate people who wants to explore great manners of creating software.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light" translate="landing:messages.mission">
            We want to offer our workmates an experience that can ease their lives at work.
          </h5>
        </div>
      </div>
    </div>
    <div md-parallax><img src="images/xinef-team.png"
      translate="[alt]landing:alts.inception-activities"></div>
  </div>
  <div class="container" id="contactus">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h4 translate="landing:sections.contact-us.title">Contact Us</h4>
          <p class="center light" translate="[html]landing:sections.contact-us.description">
            We love to receive feedback! Please drop us a line to <a href="mailto:xinef@avantica.net">xinef@avantica.net</a> with your experiences with the app: what you liked, what you disliked, which features you would like to have in the next releases. We promise to do our best.
          </p>
        </div>
      </div>
    </div>
  </div>

</template>
