<template bindable="nominations, reviewRecognized, reviewNomination, reviewRejected">
  <div>
    <table id="table-nomination" class="">
      <thead>
        <tr>
          <th data-field="nominatorName">Nominator</th>
          <th data-field="nomineeName">Nominee</th>
          <th data-field="competence">Competence</th>
          <th data-field="date">Date</th>
          <th data-field="status">Status</th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr repeat.for="n of nominations">
          <td>${n.ackId ? '' : n.nominatorName}</td>
          <td>${n.nomineeName}</td>
          <td>${n.competence}</td>
          <td>${n.date}</td>
          <td if.bind="!n.showRejectMessage">${n.status}</td>
          <td if.bind="n.showRejectMessage">
            <a href="javascript:void()" click.delegate="reviewRejected({nomination:n})">
              ${n.status}
            </a>
          </td>
          <td>
            <a if.bind="n.showButton" href="javascript:void()" click.delegate="n.ackId?reviewRecognized({nomination:n}):reviewNomination({nomination:n})">
              <i class="material-icons">${n.ackId?'loyalty':'thumb_up'}</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>