<template>
  <div id="modalCreateNewTag" md-modal="dismissible: false;" md-modal.ref="newTagDialog">
    <form submit.delegate="createTag()" novalidate>
      <div class="modal-content">
        <h4>Create new tag</h4>
        <div class="input-field">
          <brainy-input id="tagName" md-label="Name of the new tag"
              md-brainy-value.bind="tag.name | toLowercase"
              md-brainy-pattern="^[a-z\d]+(\s[a-z\d]+)*$" md-brainy-max-length="30" md-validate="true"
              md-required="true" md-validate-error="Please enter a valid tag name"></brainy-input>
          <a href="http://regexr.com/3f5cv" target="_blank"><small>Examples of valid names</small></a>
        </div>
      </div>
      <div class="modal-footer">
        <button md-button="flat: true;" type="submit" md-waves="color: accent;"
            disabled.bind="!isValidTag" class="modal-action">Create</button>
        <button md-button="flat: true;" type="button" md-waves="color: accent;"
            class="modal-action" click.trigger="closeModal()">Cancel</button>
      </div>
    </form>
  </div>
</template>
