<template>
  <md-collection>
    <slot></slot>
    <md-collection-item click.delegate="performAction(tag)" class="accent-text" repeat.for="tag of tags" >
      <i class="left material-icons">label_outline</i>
        ${tag.name}
    </md-collection-item>
  </md-collection>
  <p>
    <a md-button click.delegate="openNewTagModal()">
      <i class="material-icons right">label</i>
      New tag
    </a>
  </p>
</template>
