$icon-size: 47px;

.side-nav.menu {
	padding-top: 1em;
}

.side-nav.menu a {
    height: $icon-size;
    line-height: $icon-size;
}
.side-nav.menu i.material-icons {
    height: $icon-size;
    line-height: $icon-size;
}

// using important is necessary to avoid side nav block
#sidenav-overlay {
  z-index: 10 !important;
}